.lesson-title{
    border-bottom: 1px solid #ccc;
}

.featured{
    padding:20px;
    background: red;
}

.post{
    padding-bottom:20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    
    .price{
        color: #C60F13;
        font-size: 24px;
        font-weight: bold;
        display: block;
    }
    
    strong{
        font-weight: bold;
    }

    h5{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .taxonomy{
        background: #efefef;
        padding:10px;
    }
}

.categories{
    @include span(6 of 12);
}

.tags{
    @include span(6 of 12);
}

form{
    padding:20px;
    background: #def0f9;
    margin-bottom: 40px;
    
    input, select{
        padding:5px;
    }

    button{
        background: #1d729c;
        color:#fff;
        border: none;
        padding:10px 20px;
        border-radius:5px;
        font-size: 14px;
    }
}